.adopt-page-item {
    margin: 10px;
}
.adopt-page-link {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
    text-decoration: none;
    color: #3A3A3A;
    &.active {
        color: $egg-yellow;
    }
    &:hover {
        color: $egg-yellow;
    }
    @include media-breakpoint-up(lg) {
        font-size:medium;
    }
}