.service-card-bg {
    border: 0;
    background-color: transparent;
    height: 339px;
}
.step-width {
    &-normal {
        width: 203px;
        max-width: 100%;
    }
    &-sm {
        width: 100px;
        max-width: 100%;
    }
}