#card-dog-back {
    display:none;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#card-dog-front {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#more-info {
    color: black;
}
.card:hover {
    #card-dog-back {
        display:block;
    }
    #card-dog-front {
        display: none;
    }
    #more-info {
        color: #F9C745;
    }
}