.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}
.kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
}
.text-spacing {
    &-tight {
        letter-spacing: 1.5px;
    }
    &-normal {
        letter-spacing: 2px;
    }
}